<%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/css/auth.css">
  </head>

  <body>
    <%- include('../partials/navbar.ejs') %>
      <section>
        <form class="login-form" action="/api/new-password" method="POST">
            <div class="mb-5">
                <h2 style="text-align: center;">NEW PASSWORD</h3>
            </div>
            <div class="mb-4">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-4">
                <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                <input type="password" name="confirmPassword" class="form-control" id="exampleInputPassword1">
              </div>

              <input type="hidden" name="token" value="<%= token %>">
              <input type="hidden" name="userId" value="<%= userId %>">


            <button type="submit" class="btn btn-primary mb-3">Submit Password</button>
            <div class="mb-4">
                <label class="form-check-label" >Already Sign Up ? <a href="/api/login">Login Now</a>
                </label>
            </div>
          </form>
      </section>
      <%- include('../partials/end.ejs') %>